.category-filter {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 15px;

    margin-bottom: 35px;
}

.category-filter button {
    padding: 10px 22px;

    border: 2px solid #8B4513;
    border-radius: 25px;

    background: white;
    color: #8B4513;

    cursor: pointer;

    font-size: 0.95rem;
    font-weight: 600;

    transition: 0.3s;
}

.category-filter button:hover {
    background: #8B4513;
    color: white;
}

.category-filter .active {
    background: #8B4513;
    color: white;
}